@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	font-family: 'Poppins', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
	--primary-gradient: linear-gradient(95.08deg, #C5FFAA 2.49%, #00BAC6 97.19%);
	--primary-gradient-webkit: -webkit-linear-gradient(95.08deg, #C5FFAA 2.49%, #00BAC6 97.19%);
	--secondary-gradient: linear-gradient(95.08deg, #CF69FC 2.49%, #AF05FA 48.36%, #8C04C8 97.19%);
	--secondary-gradient-webkit: linear-gradient(95.08deg, #CF69FC 2.49%, #AF05FA 48.36%, #8C04C8 97.19%);

	--pure-white: #ffffff;
	--primary-color: #24FFBD;
	--secondary-color: #A128FD;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--red-color: #ea4c1c;
	--green-color: #24ffbd;

	--background-color: #0E1621;
	--panel-background-color: #1B2734;

	--font-primary-color: #eaeaea;
	--font-primary-color-dark: #908e8e;

	--table-divider-color: #0E1621;

	--checkbox-the-checkmark: var(--primary-color);
    --checkbox-border: var(--primary-gradient);
    --checkbox-bg: transparent;


}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color);
	color: var(--font-primary-color);
	font-style: normal;
	font-weight: 200;
	font-size: 0.85vw;
}

select, button{
	font-family: 'Poppins', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h2{
	font-weight: 300;
	font-size: 1.6vw;	
}

.text-primary-color{
	color: var(--primary-color);
}

.text-red{
	color: var(--red-color);
}

.text-green{
	color: var(--green-color);
}

.text-gradient-primary{
	background: var(--primary-gradient);
	background-clip: text;
	background: var(--primary-gradient-webkit);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.link-primary{
	color: var(--primary-color);
}

table{
	background-color: var(--panel-background-color);
	width: 100%;
	font-size: 1.2vw;
	border-spacing: 0;
	border-radius: 1vw;
    padding: 0.7vw 0 2.5vw;

}

th{
    padding: 0.5vw 0 1.2vw 2vw;
}

td{
    padding: 0.5vw 0 0.5vw 2vw;
}

table, th, td {
	text-align: left;
}
table, td, th{
	font-weight: 300;
}
table, th {
	border-bottom: 1px solid var(--table-divider-color);

}

button.text{
	background-color: transparent;
	border: none;
	padding: 0;
    font-size: 1.15vw;
    font-weight: 500;
	line-height: 3vw;
	letter-spacing: 0em;
	cursor: pointer;	
}

button.text:hover{
	text-decoration: underline;
}

button.white{
	color: var(--font-primary-color);
}

button.primary-color{
	color: var(--primary-color);
}

button.outlined{
	border: none;
	border-radius: 0.7vw;
    font-size: 1.2vw;
	padding: 0.15vw 0.2vw;
	background: var(--primary-gradient);
}

button.outlined > div{
	border-radius: 0.65vw;
    background-color: var(--panel-background-color);
    padding: 0.7vw 4.2vw;
}


.cell-token-name > img.token-logo{
	width: 2.5vw;
	margin-right: 2vw;
}
.cell-token-name > img.verified{
	width: 1.5vw;
	margin-left: 1vw;
}
.cell-token-name > img.chart{
	width: 6vw;
}
.cell-token-name > div{
	color: var(--font-primary-color-dark);
	margin-left: 1vw;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
