@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.chk-container{
    position: relative;
}

.chk-container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    transition: 0.5s border ease-in-out;
    position: absolute;
}

.chk-container>span {
    margin-right: 1vw;
}

.chk-checkmark {
    position: relative;
    margin-left:  var(--units-01vw);
    height: var(--units-1_7vw);
    width:  var(--units-1_7vw);
    border: var(--units-015vw) solid var(--primary-color);
    color: var(--primary-color);
}

.chk-container:hover input~.chk-checkmark {
    filter: brightness(125%);
}

.chk-container input:checked~.chk-checkmark {
    background-color: var(--checkbox-bg);
}

.chk-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chk-container input:disabled~.chk-checkmark {
    background-color: var(--panel-background-highlight);
}

.chk-container input:checked~.chk-checkmark:after {
    display: block;
}

.chk-container .chk-checkmark:after {
    position: relative;
    left: var(--units-06vw);
    top: var(--units-025vw);
    width: var(--units-03vw);
    height: var(--units-07vw);
    border: solid var(--primary-color);
    border-radius: var(--units-011vw);
    border-width: 0 var(--units-02vw) var(--units-0208vw) 0;
    -webkit-transform: rotate(49deg);
    -ms-transform: rotate(49deg);
    transform: rotate(49deg);
}

select{
    padding: var(--units-1vw) var(--units-2vw);
    border: 1px solid var(--panel-background-color);
    border-radius: var(--units-1vw);
    font-size: var(--font-size-1_2);
    font-weight: 200;

    -moz-appearance: none;
    -webkit-appearance: none;
}

select > option{
    padding: 0;
    min-height: unset;
    white-space: unset;
    font-weight: 200;
}


/* For IE10 */
select::-ms-expand {
    display: none;
}

input.primary_input{
    padding: 6px 10px;
    font-size: var(--font-size-1_2);
    background: var(--panel-background-color);
    color: var(--font-primary-color);
    border: none;
    box-shadow: var(--panel-box-shadow);
}
input.number-input{
    background-color: var(--panel-background-color);
    border: 1px solid var(--font-primary-color-dark);
    border-radius: var(--units-06vw);
    padding: var(--units-06vw) var(--units-3vw) var(--units-06vw) var(--units-06vw);
    font-size: var(--units-1_5vw);
    color: var(--font-primary-color);
    box-sizing: border-box;
}

@media (max-width: 480px) {
    input.number-input{
        border-radius: 2vw;
        padding: 2.45vw 10.5vw 2.45vw 2.5vw;
        font-size: 5vw;
        font-weight: 300;
    }
}